<li data-folder-id="<%= folderTree.get('folder').get('folder_id') %>"
    <% if (true === folderTree.get('folder').get('rights').can_edit) {%> class="sortable-folder"<% }%>
>
    <div>
        <% if (true === folderTree.get('folder').get('rights').can_edit) {%>
            <i class="fa fa-arrows sortable-handler" aria-hidden="true"></i>
        <% }; %>
        <% if ( 0 !== folderTree.get('children').length) { %>
            <i class="fa fa-chevron-down toggle-tree" aria-hidden="true"></i>
        <% }; %>
        <span><%= folderTree.get('folder').get('name') %></span>
        <div class="links">
            <a href="#<%= Backbone.history.generateUrl('editFolder', {
                folderId: folderTree.get('folder').get('folder_id')
            }) %>">
                <%= Translator.trans('open_orchestra_media_admin.folder.edit') %>
            </a>
            <% if (true === folderTree.get('folder').get('rights').can_create) {%>
                <a href="#<%= Backbone.history.generateUrl('newfolder', {
                    parentId: folderTree.get('folder').get('folder_id')
                }) %>">
                    <%= Translator.trans('open_orchestra_media_admin.folder.add') %>
                </a>
            <% };%>
        </div>
    </div>
    <% if ( 0 !== folderTree.get('children').length) { %>
        <ul class="children <% if (true === folderTree.get('folder').get('rights').can_edit) {%> sortable-container<% }%>">
            <% _.each(folderTree.get('children'), function(folderTree, key) { %>
                <%= renderTemplate('Media/folderElementTreeView', {renderTemplate: renderTemplate, folderTree: folderTree}) %>
            <% }); %>
        </ul>
    <% }; %>
</li>
