<div class="styled-select pull-right list-length" id="dt-media_order">
    <label>
        <select name="dt-media_order" aria-controls="dt-media_order" class="form-control">
            <% _.each(configuration, function(item, rank) { %>
                <option value="<%= item.name %>"
                    <% if (order[0] == rank) { %>
                    selected="selected"
                    class="<%= order[1]%>"
                    <% } %>
                ><%= item.title %></option>
           <% }) %>
        </select>
    </label>
</div>