<% console.log(medias) %>
<div class="well">
    <% _.each(medias.models, function(media) { %>
        <% console.log(media) %>
        <div class="col-5">
            <div class="item">
                <div class="image"><img src="<%= media.get('thumbnail') %>" alt="<%= media.get('alt') %>" /></div>
                <div class="title">
                    <span><%= media.get('title') %></span>
                    <div class="edit pull-right">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <input class="form-control" type="checkbox" id="checkbox<%= media.cid%>">
                        <label for="checkbox<%= media.cid%>"></label>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
