<div class="col-5">
    <div class="item">
        <div class="image">
            <% if (media.has('thumbnail')) { %>
                <img src="<%- media.get('thumbnail') %>" alt="<%- media.get('alt') %>" />
            <% } else { %>
                <i class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                <span class="sr-only"> <%- Translator.trans('open_orchestra_media_admin.loading') %></span>
            <% } %>
        </div>
        <div class="title">
            <span><%- media.get('title') %></span>
            <div class="edit pull-right">
                <% if (true === media.get('rights').can_edit) { %>
                    <a href="#<%- Backbone.history.generateUrl('editMedia', {'mediaId': media.get('id'), 'mediaType': media.get('media_type')}) %>">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </a>
                <% }; %>
                <div class="delete-button"></div>
            </div>
        </div>
    </div>
</div>
