<div class="top-action-buttons">
    <a class="btn btn-border btn-return" href="#<%- Backbone.history.generateUrl('listMedia') %>" role="button">
        <%- Translator.trans('open_orchestra_backoffice.back_to_list') %>
    </a>
</div>
<h1><%- Translator.trans('open_orchestra_media_admin.upload.title') %></h1>

<% if (!hasPerimeter) { %>
    <div class="alert alert-danger">
        <%- Translator.trans('open_orchestra_media_admin.upload.no_perimeter') %>
    </div>
<% } else { %>
    <div class="flow-error">
        <%- Translator.trans('open_orchestra_media_admin.upload.unsupported') %>
    </div>

    <div class="dropbox flow-drop">
        <%- Translator.trans('open_orchestra_media_admin.upload.drop_files') %>
        <span><%- Translator.trans('open_orchestra_media_admin.upload.or') %></span>
        <button class="btn btn-info flow-browse-folder">
            <%- Translator.trans('open_orchestra_media_admin.upload.select_folder') %>
        </button>
        <button class="btn btn-info flow-browse">
            <%- Translator.trans('open_orchestra_media_admin.upload.select_file') %>
        </button>
    </div>

    <div class="flow-list">
        <div class="medias"></div>
    </div>

    <div class="progress">
        <div
                class="progress-bar progress-bar-success"
                role="progressbar"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width:0"
        >
        </div>
    </div>

    <div class="col-lg-12 flow-action-buttons bottom-action-buttons">
        <button type="button" class="submit-upload btn btn-success"><%- Translator.trans('open_orchestra_media_admin.upload.save')%></button>
        <button type="button" class="cancel-upload btn btn-default"><%- Translator.trans('open_orchestra_media_admin.upload.cancel')%></button>
        <button type="button" class="delete-element btn btn-danger"><%- Translator.trans('open_orchestra_backoffice.table.delete_button')%></button>
    </div>

<% } %>
