<div class="flow-action-buttons bottom-action-buttons col-lg-12">
    <button type="button" class="submit-upload btn btn-success optionnal"><%- Translator.trans('open_orchestra_media_admin.upload.save')%></button>
    <button type="button" class="cancel-upload btn btn-default optionnal"><%- Translator.trans('open_orchestra_media_admin.upload.cancel')%></button>
    <% if (mode == 'popup') { %>
        <button type="button" class="modal-media-return btn btn-secondary"><%- Translator.trans('open_orchestra_media_admin.select.back') %></button>
    <% } %>
</div>
