<div class="row header-role-list">
    <div class="col-sm-3">{{ 'open_orchestra_media_admin.form.group.media_folder_list'|trans }}</div>
    <div class="col-sm-9 head-element"></div>
</div>

<ul class="content-media-folder-list" data-title="{{ 'open_orchestra_media_admin.form.group.media_folder_role_edition'|trans }}">
</ul>
