language: php

php:
  - 5.4

sudo: false

cache:
  directories:
    - ~/.composer/cache
    - ~/composer

before_install:
  - printf "\n" |pecl install imagick
  - phpenv config-add .travis.php.ini
  - if [ -f ~/composer/composer.phar ]; then mv ~/composer/composer.phar ./; else wget https://getcomposer.org/composer.phar; fi
  - mkdir -p ~/composer
  - cp composer.phar ~/composer/composer.phar

install:
  - php -d memory_limit=-1 ./composer.phar install --no-progress --prefer-dist

script: ./bin/phpunit

after_script:
  - CODECLIMATE_REPO_TOKEN=d1a6f82281cd365fc3b295539d19a932f1bd30a5d1544d6ef3074bd855351db3 ./bin/test-reporter
