<div class="col-5">
    <div class="item">
        <div class="image">
            <a class="media-select">
                <img
                    src="<%= media.get('thumbnail') %>"
                    data-id="<%= media.get('id') %>"
                    data-format="original"
                    data-alt="Alt à définir"
                    data-legend="Légende à définir"
                />
            </a>
        </div>
        <div class="title">
            <span><%= media.get('title') %></span>
        </div>
    </div>
</div>
