<div class="row medias">
    <div class="col-sm-4 image">
        <img src="<%- media.get('thumbnail') %>" id="modal-media-img" data-id="<%- media.get('id') %>">
    </div>
    <div class="col-sm-8">
        <%= renderTemplate('Media/Modal/Include/mediaSelectionBaseInfo', {media: media, DateFormatter: DateFormatter}) %>
        <input type="hidden" id="modal-media-format" value="original">
    </div>
</div>
<div>
    <%= renderTemplate('Media/Modal/Include/mediaSelectionAlt', {'media': media}) %>
</div>
