<div class="modal-dialog modal-lg">
   <div class="modal-content">
       <div class="modal-header">
           <h4 class="modal-title">XX XX</h4>
       </div>
       <div class="modal-body">
<img src="">
<input type="text" id="alt">
<input type="text" id="legend">

       </div>
       <div class="modal-footer">
    <a class="btn btn-border" role="button">
        XXSelectXX
    </a>
    <a class="btn btn-border btn-return" role="button">
        XXBack to listXX
    </a>
       </div>
   </div>
</div>

