.mediaModalContainer.modal {
    display: block;

    .modal-dialog {
        width: 998px;
        height: 90%;

        .modal-content {
            height: 100%;

            .modal-body {
                height: 100%;

                .modal-body-menu {
                    float: left;
                    width: 200px;
                    height: calc(~"100% - 55px");
                    padding-bottom: 10px;

                    ul {
                        padding-left: 10px;

                        a:hover {
                            cursor: pointer;
                        }
                    }
                }

                .modal-body-menu>ul {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    height: 100%;
                }

                .modal-body-content {
                    float: left;
                    margin-left: 15px;
                    width: 741px;
                    height: calc(~"100% - 55px");

                    section {
                        height: 100%;

                        .row {
                            height: 100%;

                            article {
                                height: 100%;

                                .jarviswidget {
                                    height: 100%;
                                }

                                .jarviswidget>div {
                                    height: calc(~"100% - 44px");
                                    padding:10px 0 0 30px;

                                    .widget-body {
                                        height: 100%;

                                        div[role=container] {
                                            height: calc(~"100% - 30px");
                                            overflow-y: scroll;
                                            overflow-x: hidden;
                                        }
                                    }
                                    .widget-body>div:not([role=container]) {
                                        padding-top: 12px;
                                        padding-left: 19px;
                                    }
                                }
                            }
                        }
                    }
                }

                .modal-body-content>.row {
                    display: none;
                }

                .modal-body-end {
                    clear: both;
                }
            }
        }
    }
}
