.mediaModalContainer.modal {
    display: block;

    .modal-dialog {
        width: 998px;
        height: 90%;

        .modal-content {
            height: 100%;

            .modal-body {
                height: 100%;

                .modal-body-menu {
                    float: left;
                    width: 200px;
                    height: 100%;
                    padding-bottom: 10px;

                    > ul {
                        overflow-y: scroll;
                        overflow-x: hidden;
                        height: 100%;
                    }

                    ul {
                        padding-left: 10px;

                        a:hover {
                            cursor: pointer;
                        }
                    }
                }

                .modal-body-content {
                    float: left;
                    margin-left: 15px;
                    width: 741px;
                    height: calc(~"100% - 55px");

                    form[name=media_crop] {
                        position: relative;
                        height: inherit;

                        #preview_thumbnail {
                            min-height: 100px;
                            max-height: calc(~"100% - 55px");
                        }
                    }

                    > .row {
                        display: none;
                    }

                    > form[name="media_crop"] {
                        height: 100%;

                        > .row {
                            display: none;
                        }
                    }

                    section {
                        height: 100%;

                        .row {
                            height: 100%;

                            article {
                                height: 100%;

                                .jarviswidget {
                                    height: 100%;

                                    > div {
                                        height: calc(~"100% - 44px");
                                        padding:10px 0 0 30px;

                                        .widget-body {
                                            height: 100%;

                                            > div:not([role=container]) {
                                                padding-top: 12px;
                                                padding-left: 19px;
                                            }

                                            div[role=container] {
                                                height: calc(~"100% - 30px");
                                                overflow-y: scroll;
                                                overflow-x: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .modal-body-end {
                    clear: both;
                }
            }
        }
    }
}
