parameters:
    open_orchestra_media_admin.file_alternatives.manager.class: OpenOrchestra\MediaAdmin\FileAlternatives\FileAlternativesManager
    open_orchestra_media_admin.file_alternatives.strategy.default.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\DefaultStrategy
    open_orchestra_media_admin.file_alternatives.strategy.image.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\ImageStrategy

services:
    open_orchestra_media_admin.file_alternatives.manager:
        class: %open_orchestra_media_admin.file_alternatives.manager.class%
        arguments:
            - @open_orchestra_media_admin.file_alternatives.strategy.default

    open_orchestra_media_admin.file_alternatives.strategy.default:
        class: %open_orchestra_media_admin.file_alternatives.strategy.default.class%

    open_orchestra_media_admin.file_alternatives.strategy.image:
        class: %open_orchestra_media_admin.file_alternatives.strategy.image.class%
        arguments:
            - @open_orchestra_media_admin.file_utils.manager.image
            - %open_orchestra_media_admin.tmp_dir%
            - %open_orchestra_media_admin.files.thumbnail_format%
            - %open_orchestra_media_admin.thumbnail.configuration%
        tags:
            - { name: open_orchestra_media_admin.file_alternatives.strategy }
