parameters:
    open_orchestra_media_admin.file_alternatives.manager.class: OpenOrchestra\MediaAdmin\FileAlternatives\FileAlternativesManager
    open_orchestra_media_admin.file_alternatives.strategy.default.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\DefaultStrategy
    open_orchestra_media_admin.file_alternatives.strategy.image.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\ImageStrategy
    open_orchestra_media_admin.file_alternatives.strategy.pdf.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\PdfStrategy
    open_orchestra_media_admin.file_alternatives.strategy.video.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\VideoStrategy
    open_orchestra_media_admin.file_alternatives.strategy.audio.class: OpenOrchestra\MediaAdmin\FileAlternatives\Strategy\AudioStrategy

services:
    open_orchestra_media_admin.file_alternatives.manager:
        class: '%open_orchestra_media_admin.file_alternatives.manager.class%'
        arguments:
            - '@open_orchestra_media_admin.file_alternatives.strategy.default'
            - '@open_orchestra_backoffice.context_manager'

    open_orchestra_media_admin.file_alternatives.strategy.default:
        class: '%open_orchestra_media_admin.file_alternatives.strategy.default.class%'
        arguments:
            - '@filesystem'
            - '@open_orchestra_media.manager.storage'
            - '%open_orchestra_media_admin.tmp_dir%'
            - '%open_orchestra_media_admin.files.alternatives.default.thumbnail%'

    open_orchestra_media_admin.file_alternatives.strategy.image:
        class: '%open_orchestra_media_admin.file_alternatives.strategy.image.class%'
        arguments:
            - '@filesystem'
            - '@open_orchestra_media.manager.storage'
            - '@open_orchestra_media_admin.file_utils.manager.image'
            - '%open_orchestra_media_admin.tmp_dir%'
            - '%open_orchestra_media_admin.files.thumbnail_format%'
            - '%open_orchestra_media_admin.files.alternatives.image.formats%'
        tags:
            - { name: open_orchestra_media_admin.file_alternatives.strategy }

    open_orchestra_media_admin.file_alternatives.strategy.pdf:
        class: '%open_orchestra_media_admin.file_alternatives.strategy.pdf.class%'
        arguments:
            - '@filesystem'
            - '@open_orchestra_media.manager.storage'
            - '@open_orchestra_media_admin.file_utils.manager.image'
            - '%open_orchestra_media_admin.tmp_dir%'
            - '%open_orchestra_media_admin.files.thumbnail_format%'
        tags:
            - { name: open_orchestra_media_admin.file_alternatives.strategy }

    open_orchestra_media_admin.file_alternatives.strategy.video:
        class: '%open_orchestra_media_admin.file_alternatives.strategy.video.class%'
        arguments:
            - '@filesystem'
            - '@open_orchestra_media.manager.storage'
            - '@open_orchestra_media_admin.file_utils.manager.video'
            - '@open_orchestra_media_admin.file_utils.manager.image'
            - '%open_orchestra_media_admin.tmp_dir%'
            - '%open_orchestra_media_admin.files.thumbnail_format%'
        tags:
            - { name: open_orchestra_media_admin.file_alternatives.strategy }

    open_orchestra_media_admin.file_alternatives.strategy.audio:
        class: '%open_orchestra_media_admin.file_alternatives.strategy.audio.class%'
        arguments:
            - '@filesystem'
            - '@open_orchestra_media.manager.storage'
            - '%open_orchestra_media_admin.tmp_dir%'
            - '%open_orchestra_media_admin.files.alternatives.audio.thumbnail%'
        tags:
            - { name: open_orchestra_media_admin.file_alternatives.strategy }
