parameters:
    open_orchestra_media_admin.type.media.class                 : OpenOrchestra\MediaAdminBundle\Form\Type\MediaType
    open_orchestra_media_admin.type.folder.class                : OpenOrchestra\MediaAdminBundle\Form\Type\FolderType
    open_orchestra_media_admin.type.media_choice.class          : OpenOrchestra\MediaAdminBundle\Form\Type\Component\MediaChoiceType
    open_orchestra_media_admin.type.site_for_folder_choice.class: OpenOrchestra\MediaAdminBundle\Form\Type\SiteForFolderChoiceType
    open_orchestra_media_admin.type.media_base.class            : OpenOrchestra\MediaAdminBundle\Form\Type\MediaBaseType
    open_orchestra_media_admin.type.media_image.class           : OpenOrchestra\MediaAdminBundle\Form\Type\MediaImageType

services:
    open_orchestra_media_admin.type.media:
        class: '%open_orchestra_media_admin.type.media.class%'
        arguments:
            - '%open_orchestra_media.document.media.class%'
            - '%open_orchestra_media.allowed_mime_type%'
        tags:
            - { name: form.type, alias: oo_media}

    open_orchestra_media_admin.type.folder:
        class: '%open_orchestra_media_admin.type.folder.class%'
        arguments:
            - '%open_orchestra_media.document.media_folder.class%'
        tags:
            - { name: form.type, alias: oo_folder}

    open_orchestra_media_admin.type.media_choice:
        class: '%open_orchestra_media_admin.type.media_choice.class%'
        tags:
            - { name: form.type, alias: oo_media_choice}

    open_orchestra_media_admin.type.site_for_folder_choice:
        class: '%open_orchestra_media_admin.type.site_for_folder_choice.class%'
        arguments:
            - '@open_orchestra_model.repository.site'
            - '@security.token_storage'
            - '@open_orchestra_media_admin.transformer.embed_site_to_siteid'
            - '@security.authorization_checker'
        tags:
            - { name: form.type, alias: oo_site_for_folder_choice}

    open_orchestra_media_admin.type.media_base:
        class: '%open_orchestra_media_admin.type.media_base.class%'
        arguments:
            - '%open_orchestra_media.document.media.class%'
            - '%open_orchestra_backoffice.orchestra_choice.front_language%'
        tags:
            - { name: form.type, alias: oo_media_base}

    open_orchestra_media_admin.type.media_image:
        class: '%open_orchestra_media_admin.type.media_image.class%'
        arguments:
            - '%open_orchestra_media.document.media.class%'
            - '%open_orchestra_backoffice.orchestra_choice.front_language%'
            - '%open_orchestra_media_admin.files.alternatives.image.formats%'
            - '@open_orchestra_media.manager.storage'
        tags:
            - { name: form.type, alias: oo_media_image}
