parameters:
    open_orchestra_media_admin.manager.media_folder.class: OpenOrchestra\MediaAdminBundle\Manager\FolderManager
    open_orchestra_media_admin.manager.save_media.class: OpenOrchestra\MediaAdminBundle\Manager\SaveMediaManager

services:
    open_orchestra_media_admin.manager.media_folder:
        class: '%open_orchestra_media_admin.manager.media_folder.class%'
        arguments:
            - '@object_manager'
            - '@open_orchestra_media.repository.media'
    open_orchestra_media_admin.manager.save_media:
        class: '%open_orchestra_media_admin.manager.save_media.class%'
        arguments:
            - '%open_orchestra_media_admin.tmp_dir%'
            - '@open_orchestra_media.manager.storage'
            - '%open_orchestra_media.allowed_mime_type%'
            - '@object_manager'
            - '@open_orchestra_media.repository.media_folder'
            - '%open_orchestra_media.document.media.class%'
            - '@event_dispatcher'
