parameters:
    open_orchestra_media_admin.manager.media_folder.class: OpenOrchestra\MediaAdminBundle\Manager\FolderManager
    open_orchestra_media_admin.manager.save_media.class: OpenOrchestra\MediaAdminBundle\Manager\SaveMediaManager
    open_orchestra_media_admin.manager.image_resizer.class: OpenOrchestra\MediaAdmin\Manager\ImageResizerManager

services:
    open_orchestra_media_admin.manager.media_folder:
        class: %open_orchestra_media_admin.manager.media_folder.class%
        arguments:
            - @object_manager
    open_orchestra_media_admin.manager.save_media:
        class: %open_orchestra_media_admin.manager.save_media.class%
        arguments:
            - %open_orchestra_media_admin.tmp_dir%
            - @open_orchestra_media_admin.thumbnail_manager
            - @open_orchestra_media_file.manager.uploaded_media
            - %open_orchestra_media_admin.allowed_mime_type%
            - @object_manager
            - @open_orchestra_media.repository.media_folder
            - %open_orchestra_media.document.media.class%
    open_orchestra_media_admin.manager.image_resizer:
        class: %open_orchestra_media_admin.manager.image_resizer.class%
        arguments:
            - %open_orchestra_media_admin.tmp_dir%
            - %open_orchestra_media_admin.thumbnail.configuration%
            - %open_orchestra_media_admin.resize.compression_quality%
            - @event_dispatcher
            - @open_orchestra_media_admin.imagick.factory
