parameters:
    open_orchestra_media_admin.subscriber.media_cache_invalidate.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\MediaCacheInvalidateSubscriber
    open_orchestra_log.subscriber.media.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\LogMediaSubscriber
    open_orchestra_media_admin.subscriber.delete_media.class: OpenOrchestra\MediaAdmin\EventSubscriber\MediaDeletedSubscriber
    open_orchestra_media_admin.subscriber.create_media.class: OpenOrchestra\MediaAdmin\EventSubscriber\MediaCreatedSubscriber
    open_orchestra_media_admin.subscriber.media_folder_group_transform.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\MediaFolderGroupTransformSubscriber
    open_orchestra_media_admin.subscriber.create_root_folder.class: OpenOrchestra\MediaAdmin\EventSubscriber\CreateRootFolderSubscriber
    open_orchestra_media_admin.subscriber.update_reference.class: OpenOrchestra\MediaAdmin\EventSubscriber\UpdateReferenceSubscriber

services:
    open_orchestra_media_admin.subscriber.media_cache_invalidate:
        class: '%open_orchestra_media_admin.subscriber.media_cache_invalidate.class%'
        arguments:
            - '@open_orchestra_display.manager.cacheable'
            - '@open_orchestra_base.manager.tag'
            - '@open_orchestra_media_admin.extract_reference_manager'
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_log.subscriber.media:
        class: '%open_orchestra_log.subscriber.media.class%'
        arguments: ['@logger']
        tags:
            - { name: kernel.event_subscriber }
            - { name: monolog.logger, channel: openorchestra }
    open_orchestra_media_admin.subscriber.delete_media:
        class: '%open_orchestra_media_admin.subscriber.delete_media.class%'
        arguments:
            - '@open_orchestra_media_admin.file_alternatives.manager'
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.create_media:
        class: '%open_orchestra_media_admin.subscriber.create_media.class%'
        arguments:
            - '@open_orchestra_media_admin.file_alternatives.manager'
            - '@object_manager'
        tags:
             - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.media_folder_group_transform:
        class: '%open_orchestra_media_admin.subscriber.media_folder_group_transform.class%'
        arguments:
            - '@router'
            - '@open_orchestra_api.transformer.media_folder_group_role'
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.create_root_folder:
        class: '%open_orchestra_media_admin.subscriber.create_root_folder.class%'
        arguments:
            - '@object_manager'
            - '@translator'
            - '%open_orchestra_media.document.media_folder.class%'
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.update_reference:
        class: '%open_orchestra_media_admin.subscriber.update_reference.class%'
        arguments:
            - '@open_orchestra_backoffice.reference.manager'
            - '@object_manager'
        tags:
            - { name: kernel.event_subscriber }
