parameters:
    open_orchestra_media_admin.subscriber.update_media_reference.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\UpdateMediaReferenceSubscriber
    open_orchestra_media_admin.subscriber.media_cache_invalidate.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\MediaCacheInvalidateSubscriber
    open_orchestra_log.subscriber.media.class: OpenOrchestra\MediaAdminBundle\EventSubscriber\LogMediaSubscriber
    open_orchestra_media_admin.subscriber.delete_media.class: OpenOrchestra\MediaAdmin\EventSubscriber\DeleteMediaSubscriber
    open_orchestra_media_admin.subscriber.media_file_modified.class: OpenOrchestra\MediaAdmin\EventSubscriber\MediaFileModifiedSubscriber

services:
    open_orchestra_media_admin.subscriber.update_media_reference:
        class: %open_orchestra_media_admin.subscriber.update_media_reference.class%
        arguments:
            - @open_orchestra_media_admin.extract_reference_manager
            - @open_orchestra_media.repository.media
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.media_cache_invalidate:
        class: %open_orchestra_media_admin.subscriber.media_cache_invalidate.class%
        arguments:
            - @open_orchestra_display.manager.cacheable
            - @open_orchestra_base.manager.tag
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_log.subscriber.media:
        class: %open_orchestra_log.subscriber.media.class%
        arguments: [@logger]
        tags:
            - { name: kernel.event_subscriber }
            - { name: monolog.logger, channel: openorchestra }
    open_orchestra_media_admin.subscriber.delete_media:
        class: %open_orchestra_media_admin.subscriber.delete_media.class%
        arguments:
            - @open_orchestra_media_file.manager.uploaded_media
            - %open_orchestra_media_admin.files.alternatives.image.formats%
        tags:
            - { name: kernel.event_subscriber }
    open_orchestra_media_admin.subscriber.media_file_modified:
        class: %open_orchestra_media_admin.subscriber.media_file_modified.class%
        arguments:
            - @open_orchestra_media_admin.file_alternatives.manager
            - @object_manager
        tags:
             - { name: kernel.event_subscriber }
