parameters:
    open_orchestra_media_admin.thumbnail_manager.class: OpenOrchestra\MediaAdmin\Thumbnail\ThumbnailManager
    open_orchestra_media_admin.thumbnail.pdf_to_image.class: OpenOrchestra\MediaAdmin\Thumbnail\Strategies\PdfToImageManager
    open_orchestra_media_admin.thumbnail.video_to_image.class: OpenOrchestra\MediaAdmin\Thumbnail\Strategies\VideoToImageManager
    open_orchestra_media_admin.thumbnail.image_to_thumbnail.class: OpenOrchestra\MediaAdmin\Thumbnail\Strategies\ImageToThumbnailManager

services:
    open_orchestra_media_admin.thumbnail_manager:
        class: %open_orchestra_media_admin.thumbnail_manager.class%
    open_orchestra_media_admin.thumbnail.pdf_to_image:
        class: %open_orchestra_media_admin.thumbnail.pdf_to_image.class%
        arguments:
            - %open_orchestra_media.tmp_dir%
            - %media.directory%
            - @open_orchestra_media_admin.imagick.factory
        tags:
            - { name: open_orchestra_media_admin.thumbnail.strategy }
    open_orchestra_media_admin.thumbnail.video_to_image:
        class: %open_orchestra_media_admin.thumbnail.video_to_image.class%
        arguments:
            - %open_orchestra_media.tmp_dir%
            - %media.directory%
            - @open_orchestra_media_admin.ffmpeg_video.manager
        tags:
            - { name: open_orchestra_media_admin.thumbnail.strategy }
    open_orchestra_media_admin.thumbnail.image_to_thumbnail:
        class: %open_orchestra_media_admin.thumbnail.image_to_thumbnail.class%
        arguments:
            - %open_orchestra_media.tmp_dir%
            - @event_dispatcher
        tags:
            - { name: open_orchestra_media_admin.thumbnail.strategy }
