parameters:
    open_orchestra_api.transformer.media.class: OpenOrchestra\MediaAdminBundle\Transformer\MediaTransformer
    open_orchestra_api.transformer.media_collection.class: OpenOrchestra\MediaAdminBundle\Transformer\MediaCollectionTransformer
    open_orchestra_api.transformer.folder.class: OpenOrchestra\MediaAdminBundle\Transformer\FolderTransformer
    open_orchestra_api.transformer.media_folder_group_role.class: OpenOrchestra\MediaAdminBundle\Transformer\MediaFolderGroupRoleTransformer
    open_orchestra_media_admin.transformer.embed_site_to_siteid.class: OpenOrchestra\MediaAdminBundle\Form\DataTransformer\EmbedSiteToSiteIdTransformer

services:
    open_orchestra_api.transformer.media:
        class: %open_orchestra_api.transformer.media.class%
        arguments:
            - %open_orchestra_media_admin.facade.media.class%
            - @open_orchestra_media_admin.file_alternatives.manager
            - @open_orchestra_backoffice.manager.translation_choice
            - %open_orchestra_media.media_domain%
            - @security.authorization_checker
        tags:
            - { name: open_orchestra_api.transformer.strategy}
    open_orchestra_api.transformer.media_collection:
        class: %open_orchestra_api.transformer.media_collection.class%
        arguments:
            - %open_orchestra_media_admin.facade.media_collection.class%
            - @security.authorization_checker
        tags:
            - { name: open_orchestra_api.transformer.strategy}
    open_orchestra_api.transformer.folder:
        class: %open_orchestra_api.transformer.folder.class%
        arguments:
            - %open_orchestra_media_admin.facade.folder.class%
        tags:
            - { name: open_orchestra_api.transformer.strategy}
    open_orchestra_api.transformer.media_folder_group_role:
        class: %open_orchestra_api.transformer.media_folder_group_role.class%
        arguments:
            - %open_orchestra_media_admin.facade.media_folder_group_role.class%
            - %open_orchestra_media.document.media_folder_group_role.class%
            - @open_orchestra_backoffice.collector.backoffice_role
            - @open_orchestra_backoffice.context_manager
        tags:
            - { name: open_orchestra_api.transformer.strategy}
    open_orchestra_media_admin.transformer.embed_site_to_siteid:
        class: %open_orchestra_media_admin.transformer.embed_site_to_siteid.class%
