<div class="figure superbox-list">
    <div class="img-container superbox-img <% if (!updateRole) { %>no-pointer<% } %> selectable" >
        <img
            title="<%= media.get('name') %>"
            alt="<%= media.get('name') %>"
            <% if (media.get('thumbnail') != undefined) { %>
                src="<%= media.get('thumbnail') %>"
            <% } else { %>
                src="{% image '@OpenOrchestraMediaAdminBundle/Resources/public/images/icon/thumbnail_generating.gif' %}{{ asset_url }}{% endimage %}"
            <% } %>
        />
    </div>
    <div class="caption">
        <span class='title'> <%= media.get('name') %> </span>
        <% if (typeof mediaClass != 'undefined' && typeof mediaLogo != undefined) { %>
            <span class="tool <%= mediaClass %>"><i class='fa <%= mediaLogo %>'></i></span>
        <% } %>
    </div>
</div>
