{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div role="container">
    <% if (typeof links._self_add !== 'undefined' ) { %>
    <div>
        <a href="<%= BOroute %>" data-url="<%= links._self_add %>" class="ajax-add btn btn-success add-media">
            {{ 'open_orchestra_backoffice.form.add'|trans({}, 'messages', language) }}
        </a>
    </div>
    <% } %>
    <div class="superbox col-sm-12" />
    <span class="delete-confirm-question hidden-info">
        {{ 'open_orchestra_media_admin.media.delete_question'|trans }}
    </span>
    <span class="delete-confirm-explanation hidden-info">
        {{ 'open_orchestra_media_admin.media.delete_explanation'|trans }}
    </span>
</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
