<div class="figure superbox-list">
    <div class="img-container superbox-img <% if (!updateRole) { %>no-pointer<% } %> selectable" >
        <img
            title="<%= media.get('name') %>"
            alt="<%= media.get('name') %>"
            src="<%= media.get('thumbnail') %>"
        />
    </div>
    <div class="caption">
        <span class='title'> <%= media.get('name') %> </span>
        <% if (typeof mediaClass != 'undefined' && typeof mediaLogo != undefined) { %>
            <span class="tool <%= mediaClass %>"><i class='fa <%= mediaLogo %>'></i></span>
        <% } %>
    </div>
</div>
