<% if (_.isUndefined(selectedFilter)) { %>
    <% selectedFilter = '' %>
<% } %>

<div class="widget-toolbar">
    <div class="btn-group">
        <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown" aria-expanded="false">
            <% if (selectedFilter == '') { %>
                {{ 'open_orchestra_media_admin.media_filter.none'|trans }} <i class="fa fa-caret-down"></i>
            <% } else { %>
                <% _.each(filters, function(filter, key) { %>
                    <% if (selectedFilter == filter.name) { %>
                        <%= filter.translated_name %> <i class="fa fa-caret-down"></i>
                    <% } %>
                <% }); %>
            <% } %>
        </button>
        <ul class="dropdown-menu pull-right js-status-update">
            <% if (selectedFilter != '') { %>
                <li>
                    <a data-value="" data-url="<%= no_filter_url %>" class="filterMedia">
                        {{ 'open_orchestra_media_admin.media_filter.none'|trans }}
                    </a>
                </li>
            <% } %>
            <% _.each(filters, function(filter, key) { %>
                <% if (filter.translated_name != selectedFilter) { %>
                    <li>
                        <a data-value="<%= filter.name %>" data-url="<%= filter.links._filter %>" class="filterMedia">
                            <%= filter.translated_name %>
                        </a>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </div>
</div>
