{% extends 'OpenOrchestraMediaAdminBundle:Tree:tree.html.twig' %}

{% set skin = 'modal' %}

{% block menu_container %}
    <nav>
        <ul>
            {{ menu }}
        </ul>
    </nav>
{% endblock %}
