{% macro buildMenuFolder(folders, skin, first) %}
    {% import 'OpenOrchestraMediaAdminBundle:Tree:menu_macros_' ~ skin ~ '.html.twig' as menu_macros %}
    {% for folder in folders %}
        <li>
            {{ menu_macros.node_folder(folder) }}
            <ul>
                {% if folder.subFolders is not empty %}
                    {{ _self.buildMenuFolder(folder.subFoldersBySiteId(context.currentSiteId), skin, 'child') }}
                {% endif %}
                {{ menu_macros.new_folder(folder.id) }}
            </ul>
        </li>
    {% endfor %}
    {% if first == 'first' %}
        {{ menu_macros.new_folder('-') }}
    {% endif %}
{% endmacro %}
