<li class="flow-file flow-file-<%= uniqueIdentifier %>">
    <span class="flow-file-name"></span>
    <span class="flow-file-size"></span>
    <span class="flow-file-progress"></span>
    <span class="flow-file-pause"><img src="/img/flow_js/pause.png" title="{{ 'open_orchestra_media_admin.form.upload.pause'|trans }}" /></span>
    <span class="flow-file-resume"><img src="/img/flow_js/resume.png" title="{{ 'open_orchestra_media_admin.form.upload.resume'|trans }}" /></span>
    <span class="flow-file-cancel"><img src="/img/flow_js/cancel.png" title="{{ 'open_orchestra_media_admin.form.upload.cancel'|trans }}" /></span>
</li>
