<li data-folder-id="<%- folderTree.get('folder').get('id') %>"
    <% if (true === folderTree.get('folder').get('rights').can_edit) {%> class="sortable-node"<% }%>
>
    <div>
        <p class="tree-icon">
            <% if (true === folderTree.get('folder').get('rights').can_edit) {%>
                <i class="fa fa-arrows sortable-handler" aria-hidden="true"></i>
            <% }; %>
            <% if ( 0 !== folderTree.get('children').length) { %>
                <i class="fa fa-chevron-down toggle-tree" aria-hidden="true"></i>
            <% } %>
        </p>

        <span><%- folderTree.get('folder').get('name') %></span>
        <div class="links">
            <% if (true === folderTree.get('folder').get('rights').can_edit) {%>
                <a href="#<%- Backbone.history.generateUrl('editFolder', {
                    folderId: folderTree.get('folder').get('id'),
                    name: folderTree.get('folder').get('name')
                }) %>">
                    <%- Translator.trans('open_orchestra_media_admin.folder.edit') %>
                </a>
            <% } %>
            <% if (true === folderTree.get('folder').get('rights').can_create) {%>
                <a href="#<%- Backbone.history.generateUrl('newFolder', {
                    parentId: folderTree.get('folder').get('id')
                }) %>">
                    <%- Translator.trans('open_orchestra_media_admin.folder.add') %>
                </a>
            <% } %>
            <% if (true === folderTree.get('folder').get('rights').can_create_media) {%>
                <a href="#<%- Backbone.history.generateUrl('filterMedia', {folderId : folderTree.get('folder').get('id')}) %>">
                    <%- Translator.trans('open_orchestra_media_admin.folder.list_media') %>
                </a>
            <% } %>
        </div>
    </div>
    <ul class="children <% if (true === folderTree.get('folder').get('rights').can_edit) {%> sortable-container<% }%>">
        <% _.each(folderTree.get('children'), function(folderTree, key) { %>
            <%= renderTemplate('Folder/folderElementTreeView', {renderTemplate: renderTemplate, folderTree: folderTree}) %>
        <% }) %>
    </ul>
</li>
